form(class="vertical-form hidden" id="sign-up-form")
  input(type="text" id="sign-up-username" name="username" form="sign-up-form" placeholder="Username")
  input(type="password" id="sign-up-password" name="password" form="sign-up-form" placeholder="Password")
  button(type="submit" id="sign-up-confirm-button") Sign Up
