form(class="vertical-form hidden" id="sign-in-form", method="post", action="/sign-in")
  input(type="text" id="sign-in-username" name="username" form="sign-in-form" placeholder="Username")
  input(type="password" id="sign-in-password" name="password" form="sign-in-form" placeholder="Password")
  button(type="submit" id="sign-in-confirm-button") Sign In
