extends layout
block content
  include includes/modal
  div.main-container
    header.main-header
      h1(class="logo") get [sh]it done
    //- include includes/auth
    div#root
    div#todo-container
      div#todo-input-container
        button(class="todo-input-button" id="new-todo-btn") do some shit
        input(type="text" class="todo-input hidden" id="new-todo-npt")
