* {
  box-sizing: border-box;
}
body{
  font-family: sans-serif;

}
h1 {
  font-size: 32px;
}
.logo{
  margin-bottom: 1rem;
}
.main-header{
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.todo-input-button{
  background-color: black;
  color: white;
  font-size: 24px;
  width: 100%;
}
#todo-container{
  border: 4px solid black;
  border-radius: 10px;
}
#todo-input-container{
  /*border: 4px solid black;*/
}
.todo {
  display: flex;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  min-height: 75px;
}

.todo-checkbox {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  align-self: center;
}
.todo-input-button{
  height: 75px;
  width: 100%;
  align-self: center;

}
.todo-input {
  border: none;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 1rem;

}
.todo-text{
  margin-right: auto;
  align-self: center;
  max-width: 80%;
}

.task-complete {
  background-color: grey;
  text-decoration: line-through;
}
.delete-task-btn{
  margin:0 1rem;
  text-decoration: none;
}

.modal-container{
  background-color: grey;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.modal-form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.vertical-form{
  display: inherit;
  flex-direction: column
}

.auth-container{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 25%;
  margin-bottom: 1rem;
}


.hidden{
  display: none;
}
